* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: Montserrat, sans-serif;
}

:root {

  --base-size: 1rem;
  --gap-size: 1rem;

  --color-bg: hsl(0, 0%, 10%);
  --color-bg-stronger: black;
  --color-bg-lighter: hsl(0, 0%, 30%);

  --color-fg: hsl(0, 0%, 90%);
  --color-fg-stronger: white;

  --color-primary: hsl(210, 80%, 40%);
  --color-success: hsl(120, 60%, 40%);
  --color-warning: hsl(55, 70%, 40%);
  --color-danger: hsl(15, 70%, 40%);
  
  --padding-sm: calc(var(--base-size) * 0.5);
  --padding-md: var(--base-size);
  --padding-lg: calc(var(--base-size) * 1.5);

  --margin-sm: calc(var(--base-size) * 0.5);
  --margin-md: var(--base-size);
  --margin-lg: calc(var(--base-size) * 1.5);

  --font-size-sm: calc(var(--base-size) * 0.75);;
  --font-size-md: var(--base-size);
  --font-size-lg: calc(var(--base-size) * 1.5);
  --font-size-xl: calc(var(--base-size) * 2);

  --color-primary-100: color-mix(in oklab, var(--color-primary) 20%, white 80%);
  --color-primary-200: color-mix(in oklab, var(--color-primary) 40%, white 60%);
  --color-primary-300: color-mix(in oklab, var(--color-primary) 60%, white 40%);
  --color-primary-400: color-mix(in oklab, var(--color-primary) 80%, white 20%);
  --color-primary-500: var(--color-primary);
  --color-primary-600: color-mix(in oklab, var(--color-primary) 80%, black 20%);
  --color-primary-700: color-mix(in oklab, var(--color-primary) 60%, black 40%);
  --color-primary-800: color-mix(in oklab, var(--color-primary) 40%, black 60%);
  --color-primary-900: color-mix(in oklab, var(--color-primary) 20%, black 80%);

  --color-success-100: color-mix(in oklab, var(--color-success) 20%, white 80%);
  --color-success-200: color-mix(in oklab, var(--color-success) 40%, white 60%);
  --color-success-300: color-mix(in oklab, var(--color-success) 60%, white 40%);
  --color-success-400: color-mix(in oklab, var(--color-success) 80%, white 20%);
  --color-success-500: var(--color-success);
  --color-success-600: color-mix(in oklab, var(--color-success) 80%, black 20%);
  --color-success-700: color-mix(in oklab, var(--color-success) 60%, black 40%);
  --color-success-800: color-mix(in oklab, var(--color-success) 40%, black 60%);
  --color-success-900: color-mix(in oklab, var(--color-success) 20%, black 80%);

  --color-warning-100: color-mix(in oklab, var(--color-warning) 20%, white 80%);
  --color-warning-200: color-mix(in oklab, var(--color-warning) 40%, white 60%);
  --color-warning-300: color-mix(in oklab, var(--color-warning) 60%, white 40%);
  --color-warning-400: color-mix(in oklab, var(--color-warning) 80%, white 20%);
  --color-warning-500: var(--color-warning);
  --color-warning-600: color-mix(in oklab, var(--color-warning) 80%, black 20%);
  --color-warning-700: color-mix(in oklab, var(--color-warning) 60%, black 40%);
  --color-warning-800: color-mix(in oklab, var(--color-warning) 40%, black 60%);
  --color-warning-900: color-mix(in oklab, var(--color-warning) 20%, black 80%);

  --color-danger-100: color-mix(in oklab, var(--color-danger) 20%, white 80%);
  --color-danger-200: color-mix(in oklab, var(--color-danger) 40%, white 60%);
  --color-danger-300: color-mix(in oklab, var(--color-danger) 60%, white 40%);
  --color-danger-400: color-mix(in oklab, var(--color-danger) 80%, white 20%);
  --color-danger-500: var(--color-danger);
  --color-danger-600: color-mix(in oklab, var(--color-danger) 80%, black 20%);
  --color-danger-700: color-mix(in oklab, var(--color-danger) 60%, black 40%);
  --color-danger-800: color-mix(in oklab, var(--color-danger) 40%, black 60%);
  --color-danger-900: color-mix(in oklab, var(--color-danger) 20%, black 80%);
}

/* grid helpers*/
.col-1 {
  grid-column: 1;
}

.col-2 {
  grid-column: 2;
}

.col-3 {
  grid-column: 3;
}

.col-4 {
  grid-column: 4;
}

.row-1 {
  grid-row: 1;
}

.row-2 {
  grid-row: 2;
}

.row-3 {
  grid-row: 3;
}

.row-4 {
  grid-row: 4;
}

.colspan-2 {
  grid-column: span 2;
}

.align-self-center {
  align-self: center;
}

.place-self-center {
  place-self: center;
}

/* typography helpers*/
.font-bold {
  font-weight: bold;
}

.capitalized {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.font-size-sm {
  font-size: var(--font-size-sm);
}

.font-size-md {
  font-size: var(--font-size-md);
}

.font-size-lg {
  font-size: var(--font-size-lg);
}

.font-size-xl {
  font-size: var(--font-size-xl);
}